---
import { ArrowUpRight } from "lucide-react";
interface Experience {
  data: {
    title: string;
    company: string;
    period: string;
    href?: string;
    tech?: string[];
    description: string;
  };
}

const { experiences } = Astro.props as { experiences: Experience[] };
---

<div class="flex flex-col gap-12">
  {
    experiences.map((experience) => (
      <article class="grid md:grid-cols-[140px_1fr] grid-cols-[100px_1fr] md:gap-8 gap-4">
        <div class="text-sm text-muted-foreground">
          {experience.data.period}
        </div>

        <div>
          <h3 class="text-lg font-semibold">
            {experience.data.href ? (
              <a
                href={experience.data.href}
                target="_blank"
                rel="noopener noreferrer"
                class="group inline-flex items-center gap-1 transition-all duration-200 ease-out hover:-translate-y-0.5"
              >
                <span>
                  {experience.data.title} — {experience.data.company}
                </span>
                <ArrowUpRight className="size-3.5 transition-transform duration-200 ease-out group-hover:-translate-y-0.5 group-hover:translate-x-0.5" />
              </a>
            ) : (
              <span>
                {experience.data.title} — {experience.data.company}
              </span>
            )}
          </h3>
          <div class="mt-2 font-light prose prose-invert max-w-none">
            <p>{experience.data.description}</p>
          </div>

          <div class="mt-2 flex flex-wrap gap-2">
            {experience.data.tech?.map((item) => (
              <span class="rounded-full border border-border px-3 py-1 text-sm">
                {item}
              </span>
            ))}
          </div>
        </div>
      </article>
    ))
  }
</div>
